extends layout

block content
  #header
    .col-md-3.col-left
      .clearfix
    .isotype.pull-left
      .logo
      .circle-1.right-rotation-2
      .circle-2.left-rotation-1
      .circle-3.right-rotation-1
      .clearfix
    h1.title
      | Hi, I'm Nico Suárez
