doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='')
    meta(name='author', content='')

    title I'm Nico Suárez
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300italic,300,100italic,900,900italic,700italic,700,500italic,500,400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/css/font-awesome.css')
    link(rel='stylesheet', href='/vendor/css/animate.css')


    script(src='/javascripts/analytics.js')

  body
    header#top.header
      .text-vertical-center
        h1.title.animated.bounceInLeft FULL STACK
        .col-md-12.animated.bounceIn
          .col-md-3
          .col-md-6.line-separator
        h1.title-thin.animated.bounceInRight DEVELOPER
        br
        h3.subtitle-thin.animated.bounceIn Hello, I'm Nico
        br
        a.animated.zoomIn.mouse-scroll(href='#contact')
          span.mouse
            span.mouse-movement
          i.fa.fa-angle-double-down

    section#contact
      .container

    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            a(href='/')
              img.wow.rotateIn.logo(src='/images/isotipo.png')
            h2.wow.tada
              a(href='mailto:nicolassuarez.cabrera@gmail.com') nicolassuarez.cabrera@gmail.com
            br
            ul.list-inline
              li.wow.bounceInLeft
                a(href='https://www.linkedin.com/pub/nicolas-suarez/51/622/23a', target='_blank')
                  i.fa.fa-linkedin-square.fa-fw.fa-3x
              li.wow.zoomIn
                a(href='https://twitter.com/imnicosuarez', target='_blank')
                  i.fa.fa-twitter.fa-fw.fa-3x
              li.wow.bounceInRight
                a(href='https://github.com/imNicoSuarez', target='_blank')
                  i.fa.fa-github.fa-fw.fa-3x

    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='/vendor/js/wow.min.js')
    script(src='/javascripts/functions.js')

