doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content="Hi, I'm Nicolás Suárez, who are you? ;)")
    meta(name='author', content='Nicolás Suárez')

    title I'm Nico Suárez
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/images/favicon.ico" type="image/x-icon")

    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300italic,300,100italic,900,900italic,700italic,700,500italic,500,400italic', rel='stylesheet', type='text/css')

    link(rel='stylesheet', href='/vendor/css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(rel='stylesheet', href='/vendor/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/rotate-animation.css')

    script(src='/javascripts/analytics.js')

  body
    .container
      #im-nico-suarez
        .logo
          svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve")
            g(opacity="0.3")
              g
                polygon(fill="none" stroke="#2D2C2C" stroke-miterlimit="10" points="306.5,145.5 306.5,270.3 282.4,243.5 353.7,353.5 353.5,353.5 353.5,351.9 353.5,351.8 353.5,312.4 353.5,312.2 353.5,145.5")
                polygon(fill="none" stroke="#2D2C2C" stroke-miterlimit="10" points="146,145.5 140.5,145.5 140.5,353.5 185.5,353.5 185.5,226.8 213.1,254.1     ")

                path(fill="none" stroke="#2D2C2C" stroke-miterlimit="10" d="M115.7,407.7c-45.3-38.2-74.1-95.3-74.1-159.2 c0-114.9,93.2-208.1,208.1-208.1c30,0,58.6,6.4,84.3,17.8l21.6-34.6C323.5,8.4,287.6,0,249.7,0C111.8,0,0,111.8,0,249.7 c0,78.5,36.2,148.6,92.9,194.4L115.7,407.7z")
                path(fill="none" stroke="#2D2C2C" stroke-miterlimit="10" d="M405.2,54.3L383.5,89c45.5,38.2,74.4,95.4,74.4,159.4 c0,114.9-93.2,208.1-208.1,208.1c-30.2,0-58.8-6.4-84.7-18l-22.8,36.6c32.6,15.6,69,24.3,107.5,24.3 c137.9,0,249.7-111.8,249.7-249.7C499.5,170.6,462.7,100,405.2,54.3z")
        .title
          | I'M NICO
        .list-slogan
          .dreamer
            | I'm a dreamer guy
          .creative
            | I'm a creative mind
          .developer
            | I'm a full stack developer

      block content

    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='/vendor/js/wow.min.js')
    script(src='/vendor/js/modernizr.custom.js')
    script(src='/javascripts/functions.js')
    script(src='/javascripts/main.js')




   //- // Menu
   //-  nav#theMenu.menu
   //-    .menu-wrap
   //-      h1.logo
   //-        a(href='#home') Contact
   //-      i.fa.fa-arrow-right.menu-close
   //-      a(href='https://twitter.com/imnicosuarez', target='_blank')
   //-        i.fa.fa-twitter.fa-fw.fa-3x
   //-      a(href='https://www.linkedin.com/pub/nicolas-suarez/51/622/23a', target='_blank')
   //-        i.fa.fa-linkedin.fa-fw.fa-3x
   //-      a(href='https://github.com/imNicoSuarez', target='_blank')
   //-        i.fa.fa-github.fa-fw.fa-3x
   //-      a(href='mailto:nicolassuarez.cabrera@gmail.com', target='_blank')
   //-        i.fa.fa-envelope.fa-fw.fa-3x

   //-    // Menu button
   //-    #menuToggle
   //-      i.fa.fa-bars