@import bootstrap


.im-nico-suarez-logo
  margin-top: -19%
  width: 500px
  margin-left: 30%
  position: absolute

.im-nico-suarez-title
  font-family: 'Roboto', sans-serif
  font-weight: 900
  font-size: 200px
  position: absolute
  left: 15%
  margin-top: 123px

.im-nico-suarez
  position: relative
  min-height 750px
  width 100%

.im-nico-suarez-list
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  right: 15%;
  margin-top: 28%;
  position: absolute;

.content-posts
  min-height 750px
  width 100%
  position: relative

.post-big
  margin: 5px
  height: 400px
  height: 400px
  float:  left
  background: #2c2c2c

.content-post-small-vertical
  height: 400px

.post-small-vertical
  margin: 5px
  height: 180px
  width: 180px
  float:  left
  background: #2c2c2c
  &.offset
    margin-top: 40px

.post-small-horizontal
  margin: 5px
  height: 180px
  width: 180px
  float:  left
  background: #2c2c2c
  &.offset
    margin-top: 40px

.content-post-small-horizontal
  height: 180px

