@import bootstrap
@import modal-fullscreen

#im-nico-suarez
  position: relative
  min-height 750px
  width 100%

  .logo
    margin-top: -240px
    width: 500px
    margin-left: 360px
    position: absolute

  .title
    font-family: 'Roboto', sans-serif
    font-weight: 900
    font-size: 200px
    position: absolute
    left: 170px
    margin-top: 123px

  .list-slogan
    font-family: 'Roboto', sans-serif
    font-weight: 100
    font-size: 30px
    right: 84px;
    margin-top: 354px
    position: absolute


#posts
  position: relative
  min-height 750px
  width 100%

  .post
    position: relative
    min-height 750px
    width 100%
    vertical-align: middle


    .title
      font-family: 'Roboto', sans-serif
      font-weight: 700
      font-size: 40px
      text-align: center;

    .description
      font-family: 'Roboto', sans-serif
      font-weight: 200
      font-size: 30px

.container
  margin-bottom: 20%