.isotype
  position: relative
  margin-top: 5%

  div
    width: 500px
    height: 500px
    position: absolute

.title
  margin-bottom: 8%
  margin-left: 25%
  position: absolute
  bottom: 0px

.col-left
  width: 30%

.logo
  background url('/images/img_logo.png'), no-repeat no-repeat center center scroll

.circle-1
  background url('/images/img_c1.png'), no-repeat no-repeat center center scroll

.circle-2
  background url('/images/img_c2.png'), no-repeat no-repeat center center scroll

.circle-3
  background url('/images/img_c3.png'), no-repeat no-repeat center center scroll