.c-welcome
  video(class='c-welcome__video'
        autoplay='',
        poster='https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg',
        loop=''
        muted='muted')
    source(src='/videos/missfit.webm', type='video/webm')
    source(src='/videos/missfit.mp4', type='video/mp4')

  h1.c-welcome__title
  h2.c-welcome__subtitle

  div.c-welcome__scroll-indicator
    div.fa.fa-angle-down